{% extends 'App/default.html' %}


{% load static %}


{% block indexHead %}
    <title>ТО</title>
{% endblock indexHead %}


{% block user %}
    <div class="user">
       <div>Пользователь: <em>"{{user}}" (Роль: "{{role}}"
        {% if client_name %}
        , Клиент: "{{client_name}}"
        {% endif %}
        {% if serviceCompany__name %}
        , Сервисная компания: "{{serviceCompany__name}}"
        {% endif %}
        )</em></div>
       <div>Информация о проведенных ТО вашей техники</div>
       <div>
            <a href="{% url 'mainPage' %}"><button class="tableChangeButtons">Машины</button></a>
            <a href="{% url 'maintenancePage' %}"><button class="tableChangeButtons" style="background-color:#EBE6D6;">Техническое обслуживание</button></a>
            <a href="{% url 'claimPage' %}"><button class="tableChangeButtons">Рекламации</button></a>

            {% if request.user.is_authenticated %}
                {% if not role_error or request.user.is_superuser %}
                    {% if self.url is maintenancePage %}
                        <a href="{% url 'maintenance_create' %}"><button class="tableChangeButtons">Создать ТО</button></a>
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>
    </div>

{% endblock user %}


{% block filter %}
    <div class="filter">
        <form class="filterForm" method="get" action="{% url 'maintenancePage' %}">

            <label for="maintenance_type"> вид ТО: </label>
            <select name="maintenance_type" id="maintenance_type">
                <option value="">All</option>
                {% for model in maintenance_type %}
                    <option value="{{ model }}" {% if model == filter_maintenance_type %}selected{% endif %}>{{ model }}</option>
                {% endfor %}
            </select>

            <label for="vehicle_number"> &nbsp;Зав.номер машины: </label>
            <select name="vehicle_number" id="vehicle_number">
                <option value="">All</option>
                {% for model in vehicle_number %}
                    <option value="{{ model }}" {% if model == filter_vehicle_number %}selected{% endif %}>{{ model }}</option>
                {% endfor %}
            </select>

            <label for="service_company"> &nbsp;Cервисная компания: </label>
            <select name="service_company" id="service_company">
                <option value="">All</option>
                {% for model in service_company %}
                    <option value="{{ model }}" {% if model == filter_service_company %}selected{% endif %}>{{ model }}</option>
                {% endfor %}
            </select>

            &nbsp;<button class="filterButtons" id="buttonApplyFilterMain" type="submit">Применить фильтр</button>
            &nbsp;<button class="filterButtons" id="resetButtonFilterMain">Сбросить фильтр</button>
        </form>
    </div>
    <div class="user">
        <div>таблица с данными (выдача результата)</div>
     </div>

     <div class="vehicleModelRowInfo" >
        <div class="user" style="padding: 50px 0px 50px 0px;">
            таблица с данными (выдача результата)<span id="tableName"></span>
        </div>
        <table class="tableVehicles" >

            <tr style="background-color: #163E6C">
                <td style="text-align: center;">id</td>
                <td style="text-align: center;">Наименование</td>
                <td style="text-align: center;">Описание</td>
            </tr>

            <tr>
                <td class="vehicleModelRowInfo_Id" style="text-align: center;"></td>
                <td class="vehicleModelRowInfo_Name" style="text-align: center;"></td>
                <td class="vehicleModelRowInfo_Description" style="text-align: center;"></td>
            </tr>

        </table>
        <div class="tableChangeButtonsContainer">
            <button class="tableChangeButtons" id="closeInfoPanel">Close</button>
        </div>

    </div>
{% endblock filter %}


{% block mainPage %}

{% if request.user.is_authenticated %}
    {% if maintenance %}

    <div class="mainView">
        <table class="tableVehicles">

            <tr style="background-color: #163E6C">
                <td style="text-align: center;">№ записи</td>
                <td id="vehicleNumberRowName" style="text-align: center;">Зав. № машины</td>
                <td id="maintenanceTypeRowName" style="text-align: center;">Вид ТО</td>
                <td style="text-align: center;">Дата проведения ТО</td>
                <td style="text-align: center;">Наработка, м/час</td>
                <td style="text-align: center;">№ заказ-наряда</td>
                <td style="text-align: center;">дата заказ-наряда</td>
                <td style="text-align: center;">Организация, проводившая ТО</td>
                <td id="serviceCompanyRowName" style="text-align: center;">Сервисная компания</td>
            </tr>

        {% for maintenance in page %}

            <tr style="background-color:{% cycle 'white' '#EBE6D6' %}; text-align: center;">

                {% if not role_error or request.user.is_superuser %}
                    <td style="box-shadow: 1px 1px 1px black;" >
                        <a href="{% url 'maintenance_edit' pk=maintenance.id %}">{{ maintenance.id }}</a>
                    </td>
                {% else %}
                    <td>{{ maintenance.id }}</td>
                {% endif %}
                <td class="vehicleNumberRow">{{ maintenance.vehicle }}</td>
                <td class="maintenanceTypeRow"><a href='#' onclick="on('{{ maintenance.maintenanceType }}', 'maintenance_type', 'Вид ТО')">{{ maintenance.maintenanceType }}</a></td>
                <td >{{ maintenance.maintenanceDate }}</td>
                <td>{{ maintenance.operatingTime }}</td>
                <td >{{ maintenance.workOrderNumber }}</td>
                <td>{{ maintenance.workOrderDate }}</td>
                <td >{{ maintenance.maintenanceCompany }}</td>
                <td class="serviceCompanyRow"><a href='#' onclick="on('{{ maintenance.serviceCompany }}', 'service_company', 'Сервисная компания')">{{ maintenance.serviceCompany }}</a></td>

            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>No maintenance</h2>
    {% endif %}
    </div>
{% else %}
    <h2>Пожалуйста авторизируйтесь, чтобы получить доступ к данной информации</h2>
{% endif %}

    <script src="{% static 'js/maintenance.js' %}"></script>

{% endblock mainPage %}


{% block pagination %}

{# Добавляем пагинацию на страницу #}
<div class="paginator" style="text-align: center;">Page:
    {# Добавляем "<" #}
    {% if page.has_previous %}
       <a href="?page={{ page.previous_page_number }}"><</a>
    {% endif %}

    {# Информация о предыдущих страницах #}
    {% if page.has_previous %}
       <a href="?page=1">1</a>
       {% if page.previous_page_number != 1 %}
           ...
           <a href="?page={{ page.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page.number }}

    {# Информация о следующих страницах #}
    {% if page.has_next or page.next_page_number == page.paginator.num_pages %}
        {% if page.next_page_number != page.paginator.num_pages %}
            <a href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
        {% endif %}
        {% if paginator.num_pages != page.next_page_number %}
           ...
           <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    {# Добавляем ">" #}
    {% if page.has_next %}
       <a href="?page={{ page.next_page_number }}">></a>
    {% endif %}
</div>
{% endblock pagination %}