@font-face {
    font-family: 'PT Astra Sans Bold';
    src: url('../assets/PT Astra Sans/PT-Astra-Sans_Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'PT Astra Sans Bold Italic';
    src: url('../assets/PT Astra Sans/PT-Astra-Sans_Bold-Italic.ttf') format('opentype');
}

@font-face {
    font-family: 'PT Astra Sans Regular';
    src: url('../assets/PT Astra Sans/PT-Astra-Sans_Regular.ttf') format('opentype');
}

body, html {
    background: linear-gradient(rgb(255, 255, 255) 0%, #f5f2f2 51%, #f8fafd 75%);
    width: 100%;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}

header {
    color: rgb(81, 88, 94);
    background: linear-gradient(rgb(241, 239, 239) 0%, #dfd6d6 51%, #e3ebfa 75%);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
}

.headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 20px 0px;
    font-family: 'PT Astra Sans Bold', serif;
    font-size: 20px;
    text-shadow: 4px 4px 4px #163E6C;
}

.headerAuthorizationButton {
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-family: 'PT Astra Sans Regular', serif;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    border-radius: 30px;
    --button-color-contrast: hsla(221, 100%, 78%, 1);
    --button-color-hover: hsla(221, 100%, 28%, 1);
    --button-color-light: hsla(221, 18%, 32%, 1);
    --button-color: #001d5c;
    --color: #001d5c;
    --color-hover: #ffffff;
    animation-duration: 1000ms;
    animation-play-state: running;
    animation-name: none;
    border-color: var(--button-color);
    background-color: transparent;
    color: var(--color) !important;
}

.headerInfoText {
    padding-top: 10px;
    font-family: 'PT Astra Sans Bold Italic', serif;
    font-size: 24px;
    text-shadow: 4px 4px 4px #163E6C;
}


footer {
    color: rgb(81, 88, 94);
    background: linear-gradient(rgb(241, 239, 239) 0%, #dfd6d6 51%, #e3ebfa 75%);
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
    border-radius: 10px;
    font-family: 'PT Astra Sans Bold Italic', serif;
    font-size: 24px;
    text-shadow: 4px 4px 4px #7a9cf3;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.logo {
    width: 70%;
    height: 70%;
}

.tableVehicles{
    max-width: 100wv;
    font-family: 'PT Astra Sans Regular', serif;
    font-size: 18px;
    width: 100%;

}

.mainView {
    height: auto;
    padding-left: 5px;
}

.paginator {
    margin-bottom: 90px;
    margin-top: 10px;
}

.filter {
    padding: 10px 10px 10px 10px;
    font-family: 'PT Astra Sans Bold Italic', serif;
    font-size: 16px;
}

.filterForm {
    display: flex;
    justify-content: space-evenly;
    max-height: 20px;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Astra Sans Regular';
    font-size: 22px;
    padding: 10px 10px;
    gap: 10px;
}

.tableChangeButtons {
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    margin-right: 20px;
    font-family: 'PT Astra Sans Regular', serif;

    --button-color-contrast: hsla(221, 100%, 78%, 1);
    --button-color-hover: hsla(221, 100%, 28%, 1);
    --button-color-light: hsla(221, 18%, 32%, 1);
    --button-color: #001d5c;
    --color: #001d5c;
    --color-hover: #ffffff;
    animation-duration: 1000ms;
    animation-play-state: running;
    animation-name: none;

    border-color: var(--button-color);
    background-color: transparent;

    padding-left: 1.42857rem !important;
    padding-right: 1.42857rem !important;

    color: var(--color) !important;
}

.headerAuthorizationButton:hover, .tableChangeButtons:hover {
    box-shadow: 4px 4px 4px var(--button-color-light);
}

.vehicleModelRowInfo {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    bottom: 0;
    background: linear-gradient(rgb(241, 239, 239) 0%, #dfd6d6 51%, #e3ebfa 75%);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 20px;
    box-shadow: 4px 4px 4px black;
    padding-left: 30px;
    padding-right: 30px;
}

.tableChangeButtonsContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'PT Astra Sans Regular';
    font-size: 22px;
}

.formItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Стили для больших экранов, например, 1920x1080 и 1366x768 */
@media (min-width: 1366px) {
    }

  /* Стили для средних экранов, например, 1536x864 и 1440x900 */
@media (max-width: 1365px) {
    .headerInfoText {
        font-size: 20px;
    }
    .headerAuthorizationButton {
        width: 105px;
        font-size: 14px;
        text-align: right;
    }
    .headerInfo {
        font-size: 18px;
    }
    .logo {
        width: 60%;
        height: 60%;
    }
    footer {
        font-size: 20px;
    }
}

@media (max-width: 870px) {
    .headerInfoText {
        font-size: 16px;
    }
    .headerAuthorizationButton {
        width: 90px;
        font-size: 10px;
    }
    .headerInfo {
        font-size: 14px;
    }
    .logo {
        width: 60%;
        height: 60%;
    }
    footer {
        font-size: 16px;
    }
}

  /* Стили для мобильных экранов, например, 360x640 */
@media (max-width: 767px) {
    .headerInfo {
        display: none;
    }
    footer {
        font-size: 12px;
    }
    .headerAuthorizationButton {
        font-size: 10px;
    }
}